<app-header></app-header>

<div class="p-grid">
    <div class="p-col-10 p-offset-1">
        <div class="p-grid mt-10">
            <div class="p-col-6 p-col-align-center title">Contract Data</div>
            <div class="p-col-6 text-right sizes">
                <button pButton type="submit" label="Add New Contract" styleClass="p-button-sm"></button>
            </div>
        </div>
        <div class="search-container">
            <div class="search" (click)="toggle(true)">
                <i class="pi pi-search"></i>
                <span>Click to open search</span>
                <i class="pi pi-chevron-down"></i>
            </div>

            <div *ngIf="flg" class="filter-contracts">
                <span style="float: right;" (click)="toggle(false)">hide</span>
            </div>
        </div>
        <div>
            <p-table [value]="contractsData" [rows]="5" [paginator]="true" [responsive]="true" autoLayout="true">
                <ng-template pTemplate="header">
                    <tr appLike>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field" [width]="col.width">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contract>
                    <tr>
                        <td>
                            <a [routerLink]=""> {{contract.contractno}}</a>
                        </td>
                        <td>{{contract.contractName}}</td>
                        <td>{{ contract.shortDesc }}</td>
                        <td>
                            {{contract.value}}
                        </td>
                        <td>{{contract.primaryParty}}</td>
                        <td>{{contract.documents}}</td>
                        <td>{{contract.submittedDate}}</td>
                        <td>{{contract.submitter}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>