<p-tabView [(activeIndex)]="index">
    <p-tabPanel header="General Information">
        <form [formGroup]="contractForm">
            <div class="p-grid">
                <div class="p-col-8">
                    <label>Contract Name</label>
                    <input pInputText type="text" formControlName="contractName" />
                    <div class="error" *ngIf="formControl.contractName.touched && formControl.contractName.invalid">
                        Contract Name is Required</div>
                </div>

                <div class="p-col-4">
                    <label>Value</label>
                    <input pInputText type="text" formControlName="value" />
                    <div class="error" *ngIf="formControl.value.touched && formControl.value.invalid">
                        Value is Required</div>
                </div>

                <div class="p-col-6">
                    <label>Value</label>
                    <p-calendar selectionMode="range" appendTo="body" [readonlyInput]="true" inputId="range"
                        showIcon="true" showButtonBar="true"></p-calendar>
                </div>

                <div class="p-col-6">
                    <label>Craft</label>
                    <p-dropdown optionLabel="name" formControlName="craft"></p-dropdown>
                    <!--  <div class="error" *ngIf="formControl.craft.touched && formControl.craft.invalid">
                Craft is Required</div> -->
                </div>

                <div class="p-col-12">
                    <label>Short Description</label>
                    <input pInputText type="text" formControlName="shortdesc" />
                    <div class="error" *ngIf="formControl.shortdesc.touched && formControl.shortdesc.invalid">
                        Short Description is Required</div>
                </div>

                <div class="p-col-12">
                    <label>Long Description</label>
                    <textarea pInputTextarea formControlName="longdesc"></textarea>
                    <div class="error" *ngIf="formControl.longdesc.touched && formControl.longdesc.invalid">
                        Long Description is Required</div>
                </div>

                <!--  <app-dynamic-contract [inpObj1]="inpObj">

                </app-dynamic-contract> -->

                <div class="p-col-12">
                    <div class="p-grid" formGroupName="addParty">
                        <div class="p-col-4">
                            <label>Role</label>
                            <p-dropdown [options]="roles" optionLabel="name" formControlName="role1"></p-dropdown>
                        </div>
                        <div class="p-col-4">
                            <label>Name</label>
                            <p-autoComplete formControlName="name1" [suggestions]="output"
                                (completeMethod)="search($event)"></p-autoComplete>
                        </div>
                        <div class="p-col-3">
                            <label>Alias</label>
                            <input pInputText formControlName="alias1" />
                        </div>
                        <div class="p-col-1">
                            <i class="pi pi-check add-parties" [ngClass]="{'add-parties-btn': addpartyBtn()}"
                                (click)="addParties()"></i>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 parties">
                    <table cellpadding="0" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Main</th>
                                <th>Role</th>
                                <th>Name</th>
                                <th>Alias</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="parties"
                                *ngFor="let partie of this.contractForm.get('parties')['controls']; let i=index">
                                <tr [formGroupName]="i">
                                    <td>
                                        <!-- <input type="radio" name="main" formControlName="main" [id]="'main'+i" /> -->
                                        <p-radioButton name="main" formControlName="main" [value]="i+1"
                                            (onClick)="setMainValue(i)" [inputId]="'main'+i">
                                        </p-radioButton>
                                        <!-- <p-checkbox formControlName="main" value="i" binary="true" inputId="binary"></p-checkbox> -->
                                    </td>
                                    <td>
                                        <p-dropdown [options]="roles" optionLabel="name" formControlName="role"
                                            [id]="'role'+i" class="party-control"
                                            [ngClass]="{'editable-control': editable === i}"></p-dropdown>

                                        <div *ngIf="partie.get('role').touched && partie.get('role').errors?.required">
                                            role is Required</div>
                                    </td>
                                    <td>
                                        <!-- <input pInputText formControlName="name" [id]="'name'+i" class="party-control"
                                            [ngClass]="{'editable-control': editable === i}" /> -->
                                        <p-autoComplete formControlName="name" [suggestions]="output"
                                            (completeMethod)="search($event)"
                                            [ngClass]="{'editable-control': editable === i}"></p-autoComplete>
                                    </td>
                                    <td> <input pInputText formControlName="alias" [id]="'alias'+i"
                                            class="party-control" [ngClass]="{'editable-control': editable === i}" />
                                    </td>
                                    <td>
                                        <i class="pi pi-pencil" (click)="makeFieldsEditable(i)"></i>
                                        <i class="pi pi-trash" (click)="removeParty(i)"></i>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>


                <div class=" p-col-12 text-right">
                    <button pButton type="button" label="Cancel"></button>
                    <button pButton type="button" label="Next" (click)="openNext(1)"
                        [disabled]="this.contractForm.invalid || parties.length<2"></button>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Upload Master agreement">
        <form [formGroup]="uploadForm">
            <div class="p-grid">
                <div class="p-col-12">
                    <p-fileUpload name="myfile[]" multiple="multiple" customUpload="true"
                        (uploadHandler)="myUploader($event)">
                    </p-fileUpload>
                </div>
                <div class="p-col-12">
                    <label>Document Name</label>
                    <input pInputText type="text" formControlName="documentname" />
                    <div class="error"
                        *ngIf="uploadFormControl.documentname.touched && uploadFormControl.documentname.invalid">
                        Document Name is Required</div>
                </div>
                <div class="p-col-12">
                    <label>Description</label>
                    <textarea pInputTextarea formControlName="documentdesc"></textarea>
                    <div class="error"
                        *ngIf="uploadFormControl.documentdesc.touched && uploadFormControl.documentdesc.invalid">
                        Document description is Required</div>
                </div>

                <div class="p-col-12">
                    <div class="p-grid" formGroupName="addCityState">
                        <div class="p-col-6">
                            <label>City</label>
                            <input pInputText formControlName="city1" />
                        </div>
                        <div class="p-col-5">
                            <label>State</label>
                            <input pInputText formControlName="state1" />
                        </div>

                        <div class="p-col-1">
                            <i class="pi pi-check add-parties" (click)="addStateCity()"
                                [ngClass]="{'add-parties-btn':addCityStateBtn()}"></i>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 parties">
                    <table cellpadding="0" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>City</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="locations"
                                *ngFor="let partie of this.uploadForm.get('locations')['controls']; let i=index">

                                <tr [formGroupName]="i">

                                    <td>-</td>
                                    <td> <input pInputText formControlName="city" [id]="'city'+i" />
                                        <div *ngIf="partie.get('city').touched && partie.get('city').errors?.required">
                                            role is Required</div>
                                    </td>
                                    <td><input pInputText formControlName="state" [id]="'state'+i" /></td>

                                    <td><i class="pi pi-trash" (click)="removeCityState(i)"></i></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

                <div class=" p-col-12 text-right">
                    <button pButton type="button" label="Cancel"></button>

                    <button pButton type="button" label="Next" (click)="openNext(2)"
                        [disabled]="this.uploadForm.invalid"></button>
                </div>


                <div>
                </div>
            </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Review and submit">
        Content 3
        submit
    </p-tabPanel>
</p-tabView>