
<div></div>
<div class="posts">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Body</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr appPosts *ngFor="let post of posts">
                <td><a (click)="fetchPostById(post.id)">{{post?.id}}</a></td>
                <td>{{post?.title}}</td>
                <td>{{post.body}}</td>
                <td><i class="fa fa-trash"></i></td>
            </tr>
        </tbody>
    </table>
</div>