<a routerLink="">back</a>

<div>
    To dynamically load a component, perform the below steps
    <ul>
        <li>Component <b>(PostComponent)</b> which needs to be dynamically loaded</li>
        <li>create service <b>(DynamicService)</b> to dynamically load the component
            <ol type="i">
                <li>
                    Component Factory Resolver <b>(ComponentFactoryResolver)</b>
                </li>
            </ol>
        </li>
        <li>Call the loadComponent method of <b>DynamicService</b> inside <b>DynamicComponent</b>  </li>
    </ul>
</div>

<button type="button" (click)="fetchPosts()">Fetch</button>

<ng-container appDynamic>

</ng-container>

