<!-- <h3>Template driven form</h3>
<form #eventForm="ngForm" (ngSubmit)="submitEvent(eventForm.value)">

    <div>
        <input name="name"  type="text" ngModel required />
        <label>Name</label>
        <div *ngIf="eventForm.controls.name.invalid && eventForm.controls.name.touched">Name is required</div>
    </div>

    <div>
        <input name="location" type="text" ngModel required />
        <label>Location</label>
    </div>

    <input type="submit" value="save" [disabled]="!eventForm.valid" />

</form> -->

<h3>Reactive Forms</h3>

<form [formGroup]="userform" (ngSubmit)="submitEvent(userform)">
    <div>
        <label>Name</label>
        <input formControlName="name" type="text" name="name" />
         <div *ngIf="myFormControl.name.touched && myFormControl.name.invalid">Required</div>
    </div>

    <div>
        <label>code</label>
        <input formControlName="code" type="text" name="code" />
        <div>{{errorKeys.code}}</div>
    </div>

    <div formArrayName="location" *ngFor="let loc of userform.get('location')['controls']; let i=index">
        <div [formGroupName]="i">
            <div>
                <label>street</label>
                <input formControlName="street" type="text" name="street" />
                <div *ngIf="loc.controls.street.touched && loc.controls.street.invalid">Required</div>
            </div>
            <div>
                <label>House No</label>
                <input formControlName="houseNo" type="text" name="houseNo" />
                <div *ngIf="loc.controls.houseNo.touched && loc.controls.houseNo.invalid">Required</div>
            </div>
        </div>
    </div>

     <button (click)="pushLocation()">add</button> 

    <div>
        <input type="submit" value="Save" [disabled]="userform.invalid" />
    </div>

</form>

<p-tabView>
    <p-tabPanel header="General Information">
       Content 1
    </p-tabPanel>
    <p-tabPanel header="upload master agreement" [selected]="true">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Review & Submit">
        Content 3
    </p-tabPanel>
</p-tabView>