<!-- <h3>Template driven form</h3>
<form #eventForm="ngForm" (ngSubmit)="submitEvent(eventForm.value)">

    <div>
        <input name="name"  type="text" ngModel required />
        <label>Name</label>
        <div *ngIf="eventForm.controls.name.invalid && eventForm.controls.name.touched">Name is required</div>
    </div>

    <div>
        <input name="location" type="text" ngModel required />
        <label>Location</label>
    </div>

    <input type="submit" value="save" [disabled]="!eventForm.valid" />

</form> -->

<h3>Reactive Forms</h3>
<form [formGroup]="userform" (ngSubmit)="submitEvent(userform.value)">
    <div>
        <label>Name</label>
        <input formControlName="name" type="text" name="name" />
        <div *ngIf="userform.controls.name.touched && userform.controls.name.invalid">Required</div>
    </div>

    <div>
        <label>code</label>
        <input formControlName="code" type="text" name="code" />
    </div>

    <div formGroupName="location">
        <div>
            <label>street</label>
            <input formControlName="street" type="text" name="street" />
        </div>
        <div>
            <label>House No</label>
            <input formControlName="houseNo" type="text" name="houseNo" />
        </div>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>

</form>