
<button (click)="createEvent()">Create Event</button>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.id}}</td>
            <td><a [routerLink]="['event-detail', event.id]">{{event.name}}</a></td>
            <td>{{event.location}}</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a [routerLink]="['event-detail', 88]">ggg</a></td>
            <td>lll</td>
        </tr>
    </tbody>
</table>